.tight {
  padding-top: 0px;
  padding-bottom: 0px;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
  margin-bottom: 0;
  /*border: 1px solid purple;*/
}

.flex-container {
  display:flex;
  /*border: 1px solid DodgerBlue;*/
}

.flex-center {
  justify-content: center;
}

.flex-space {
  justify-content: space-between;
}

.flex-vertical {
  flex-direction: column;
}

.flex-container > div {
  /*border: 1px solid red;*/
}

.button-container {
  margin-bottom: 0.83em;
}

.whitespace {
  border-right: 3px solid white;
}

.line {
  border-top: 1px solid black;
}

.line-top {
  border-bottom: 6px solid black;
  padding-top: 4px;
}

.line-bottom {
  border-top: 10px solid black;
  padding-bottom: 4px;
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.indent {
  padding-left: 10%;
}

.text-xsmall {
  font-size:x-small;
}

.title {
  font-size:x-large;
  line-height: 1;
}

.pad {
  padding: 4px;
}

#myChart {
  width: 100px;
  height: 100px;
  /*border:1px solid black;*/
}

#nutritionBox {
  font-family:Arial, Helvetica, sans-serif;;
  font-size: small;
}

#nutritionBox > div {
  /*border:2px solid pink;*/
}