@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1> MealGuide-Know your Food Quality</h1>
        <body>
            <img id="backgroundimage" src="~/img/bg.jpg" border="0" alt="" width="100%" height=350"
                 style="background-repeat">
            
        </body>
    </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Welcome to MealGuide</h2>
                <p>
                    Counting calories is the standard when you want to control your diet - whether it's losing weight, 
                    building muscle or maintaining your current condition.
                    However (quoted from healthline) "calories don't explain the whole story.
                </p>
            </div>
            <div class="col-md-4">
                <h2> MealGuide</h2>
                <p>MealGuide takes the analysis, compilation, and presentation of nutrient and food component data to a new level.</p>
            </div>
            <div class="col-md-4">
                <h2>Overview</h2>
                <p>
                    Food and it's macronutrient composition can influence how hungry or full you feel, your metabolic rate, brain activity and hormonal response
                    Provides a broad snapshot in time of the nutrients and other components found in a wide variety of foods and food products
                </p>
            </div>
        </div>

